<div class="row" style="text-align: center;"><h1>Meet the Team</h1></div>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="weather-card">
    <mat-card fxFlex="25">
        <div class="profile-card">
            <img src="../../../assets/profiles/Dipan_Roy.jpeg" alt="User Image">
            <div class="header">
                <h2>Dipan Roy</h2>
                <h4>dipan.roy@kgec.edu.in</h4>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="profile-card">
            <img src="../../../assets/profiles/Ritankar_Paul.jpeg" alt="User Image">
            <div class="header">
                <h2>Ritankar Paul</h2>
                <h4>ritankar.paul@kgec.edu.in</h4>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="profile-card">
            <img src="../../../assets/profiles/Ramyajit_Chowdhury.jpg" alt="User Image">
            <div class="header">
                <h2 style="font-size: 22px;">Ramyajit Choudhury</h2>
                <h4>ramyajit.choudhury@kgec.edu.in</h4>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="profile-card">
            <img src="../../../assets/profiles/Indrashis_Ghosh.jpeg" alt="User Image">
            <div class="header">
                <h2>Indrasish Ghosh</h2>
                <h4>indrasish2013@gmail.com</h4>
            </div>
        </div>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="row" style="text-align: center;">
    <p>This project was developed by Team SmartRIDR under guidance of Dr. Sandip Nandi for Sankalp Hackathon 2019-2020</p>
    <h3>For Support</h3>
    <h4>contact@agrosmart.tech</h4>
</div>
